{{#partial "content"}}
  <section id="banner">
    <div class="container">
      <div class="row gx-1">
        <div class="col-12 col-lg-6">
          <img src="./images/banner-img.png" id="banner-img" alt="Image of superheroes(Polaris & Eclipse)" />
        </div>
        <div class="col-12 col-lg-6">
          <h1 id="banner-title" class="title text-green fs-large">Welcome to Hero Squad</h1>
          <p class="text-white fw-light fs-normal">
            From the marvel cinematic universe to DC cinematic universe, it
            has been interesting watching heroes use their special powers to
            fight for a cause, be it fighting for mutant rights or stopping a villain
            in their plans to harm the world population.<br />
            You could be a hero too.
            Begin your journey into the heroes world by recruiting a
            well-balanced team of superheroes to fight for a cause.
          </p>
          <div class="row gx-1">
            <div class="col-12 col-lg-3">
              <a href="/heroes/new">
                <button class="btn btn-outline-primary mt-3 mx-md-auto mx-lg-0">
                  Add Hero
                </button>
              </a>
            </div>
            <div class="col-12 col-lg-3">
              <a href="/add-a-squad.html">
                <button class="btn btn-outline-primary mt-3 mx-md-auto mx-lg-0">Add Squad</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="squads">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-2 p-3">
              <img src="./images/gifted.png" alt="An image of the inner circle squad">
              <div class="squad-badge">
                <p class="text-white fw-light fs-normal py-1">Inner circle</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2 p-3">
              <img src="./images/the-avengers.png" alt="An image of the avengers squad">
              <div class="squad-badge">
                <p class="text-white fw-light fs-normal py-1">The Avengers</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2 p-3">
              <img src="./images/x-men.png" alt="An image of the x-men squad">
              <div class="squad-badge">
                <p class="text-white fw-light fs-normal py-1">X-men</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2 p-3">
              <img src="./images/justice-league.png" alt="An image of the justice league squad">
              <div class="squad-badge">
                <p class="text-white fw-light fs-normal py-1">Justice league</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2 p-3">
              <img src="./images/legends-of-tomorrow.png" alt="An image of the legends of tomorrow squad">
              <div class="squad-badge">
                <p class="text-white fw-light fs-normal py-1">Legends of tomorrow</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2 p-3">
              <img src="./images/the-winx-club.png" alt="An image of the winx club squad">
              <div class="squad-badge">
                <p class="text-white fw-light fs-normal py-1">The winx club</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/partial}}
{{>layout.hbs}}